extends _layouts/base

include _modules/link/link

block content
  p#top
    a(href="http://www.google.com") Click here to go to Google.co.uk

  p
    a(href="http://www.google.com")
        img(src="images/homer.png")
  p
    a(href="forms.html") forms
  p
    a(href="http://www.google.com") Click here to go to Google.co.uk

  p
    a(href="http://www.google.com")
        img(src="images/homer.png")
  p
    a(href="forms.html") forms
  p
    a(href="http://www.google.com") Click here to go to Google.co.uk

  p#third
    a(href="http://www.google.com")
        img(src="images/homer.png")
  p
    a(href="forms.html") forms
  p
    a(href="http://www.google.com") Click here to go to Google.co.uk

  p
    a(href="http://www.google.com")
        img(src="images/homer.png")
  p
    a(href="forms.html") forms
  p
    a(href="http://www.google.com") Click here to go to Google.co.uk

  p
    a(href="http://www.google.com")
        img(src="images/homer.png")
  p
    a(href="forms.html") forms
  p
    a(href="http://www.google.com") Click here to go to Google.co.uk

  p
    a(href="http://www.google.com")
      img(src="images/homer.png")
  p
    a(href="forms.html") forms
  p
    a(href="#top") Back to top
  p
    a(href="#third") Jump to third Hommer
