extends _layouts/base

include _modules/link/link

block content
  table
    thead
      tr
        th Name
        th
          |Favourit
          br
          |Colour
    tbody
      tr
        td Rob
        td Green
      tr
        td Kirsten
        td Orange
      tr
        td Tommy
        td Pink
      tr
        td Ralphie
        td Blue
